/* Template Styling */
.templatePageContainer{
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  
}



.pageTemplateInner{
  width: 80%;
  height: 80%;
  flex-direction: column;
  text-align: left;

}

.templateTitle{
  color: white;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.638);
  font-size: 52px;
}

.templateSubtext{
  color: rgba(255, 255, 255, 0.683);
  font-size: 13px;
}

.templateButton{
  background-color: rgba(27, 2, 100, 1);
  padding: 10px 40px;
  color: white;
  text-decoration: none;

  position: relative;
  top: 40px;
}

/* asteroid Page   */

.asteroidPageContainer{
  background-image: url("https://10wallpaper.com/wallpaper/1920x1080/1208/aesthetic_dream_space_hd_desktop_wallpaper_16_1920x1080.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;


  
  
}

.pageNumberAsteroid{
  font-size: 30px;
  color: rgba(255, 255, 255, 0.484);
  font-weight: bold;
  font-family: 'Orbitron', sans-serif;
}

.asteroidData{
  width: 40vh;
  height:30vh;
  background-color: rgba(190, 187, 187, 0.103);
  box-shadow:5px 5px 20px rgba(0, 0, 0, 0.809);
  font-family: 'Roboto Condensed', sans-serif;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.454);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid rgba(241, 241, 241, 0.143);
}

.dataContainer{
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr ;
  grid-row-gap:20px;
  place-items:  center;
  padding: 20px;
}

.asteroidHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  width: 90%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.59);
}

.asteroidHazardIndicator{
  padding: 10px 10px 10px 10px;
  border-radius: 6px;
  box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.707);
  font-size: 10px;
  color: rgb(233, 232, 232);
  font-weight: bold;
}
.asteroidContainerData{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.asteroidText{
  color: rgb(205, 203, 203);
  font-size: 11px;
  text-shadow: 1px 2px 3px black;
  font-weight: bold;
}

.asteroidId{
  color: white;
  font-weight: bold;
  font-size: 15px;
  font-family: 'Orbitron', sans-serif;
}

.paginationAsteroids{
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
}

.paginationButton{
  color: rgb(255, 255, 255);
  font-size: 50px;
  background: none;
}

.paginationButton:hover{
  color: rgb(172, 168, 168);
}

.ApiInfoSection{
  width: 100%;
  height: 60vh;
background-color: rgb(255, 255, 255);
display: flex;
justify-content: center;
}
.ApiInfoSectionInner{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;

}
.ApiInfoTitle{
  color: rgb(19, 19, 19);
  font-size: 20px;
  font-family: 'Orbitron', sans-serif;
}

.ApiInfoInnerTitle{
  color: rgb(13, 13, 13);
  font-family: 'Orbitron', sans-serif;
}
.apiSection{
 color: rgb(14, 14, 14);

  
}



.ApiSubtext{
  color: rgba(1, 1, 1, 0.342);
  font-size: 14px;
}

.maintainers,.apiLinks{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto Condensed', sans-serif;
  
}

/* Footer Styling  */

.Footer{
  width: 100%;
  height: 30vh;
  background-color: rgb(15, 15, 15);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.FooterInner{
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  
}

.Section{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.logoContainers{
  
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.Logo{
  color: white;
  font-family: 'Orbitron', sans-serif;
}
.Logo span{
  color: red;
  font-weight: bold;
  font-family: sans-serif;
}


/*   navBar styling   */
.navBar{
  width: 100%;
  height: 20vh;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content:center;
}

.NavBarInner{
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-around;

 

}

.navSection{
  width: 50%;
  display: flex;
  justify-content: right;
  align-items: right;

}

.navSectionLogo{
  display: flex;
  justify-content: left;
  align-items: center;
}

.navLinks{
  color: whitesmoke;
  text-decoration: none;
  padding: 20px;
  font-family: 'Orbitron', sans-serif;
  font-size: 15px;

 
}



.navMenu{
width: 50%;
height: 100vh;
position: fixed;
left: 0px;
top: 0px;
display: flex;
flex-direction: column;
justify-content: center;
background-color: rgb(22, 22, 22);
transition: 1s ease-in-out;


}

.DesktopMenu{
  display: none;
}

.closeButton{
  color: white;
  font-size: 32px;
  background-color: rgba(0, 0, 255, 0);
  border: none;
  position: relative;
  text-shadow: 2px 3px 5px black;
  
}







@media only screen and (min-width: 600px) {

  /* Template mobile Styling   */

  .templateTitle{
    font-size: 80px;
   
  }
  
  .templateSubtext{
    font-size: 15px;
  }

  .pageTemplateInner{
    width: 60%;
    height: 60%;
  
  }

  .templatePageContainer{
    height: 140vh;
  }


  /* Asteroid page mobile Styling   */
  .dataContainer{
    grid-template-columns: 1fr  1fr ;
    grid-template-rows: 1fr 1fr;
    
  }
  .asteroidText{
    font-size: 11px;
  }
  
  .asteroidId{
      font-size: 10px;
  }

  .asteroidHazardIndicator{
    font-size: 10px;
  }
  

}

@media only screen and (min-width: 800px) {

  /* Template mobile Styling   */

  .templateTitle{
    font-size: 120px;
   
  }
  
  .templateSubtext{
    font-size: 15px;
  }

  .pageTemplateInner{
    width: 70%;
    height: 90%;
  
  }

  .templatePageContainer{
    height: 140vh;
  }


  /* Asteroid page mobile Styling   */
  .dataContainer{
    grid-template-columns: 1fr  1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    
  }
  .asteroidText{
    font-size: 15px;
  }
  
  .asteroidId{
      font-size: 12px;
  }

  .asteroidHazardIndicator{
    font-size: 15px;
  }

  .apiSection{
    color: rgb(149, 149, 149);
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    
     
   }

   .asteroidId{
    font-size: 20px;
  }


  .FooterInner{
    flex-direction: row;
  
    
  }

  .ApiInfoSectionInner{
    width: 50%;
    
   
  
  }
  .ApiInfoTitle{
    font-size: 45px;
    
  }
  
  .ApiSubtext{
    
    font-size: 18px;
  }



  
  
  .navMenu{
   display: none;
   
    
    }
    .closeButton{
      display: none;
    }
    .DesktopMenu{
      width: 30%;
  
      display: flex;
      justify-content: space-evenly;
    
    }

    .NavBarInner{
      align-items: center;
      display: flex;
      
    
    }
    .navLinks:hover{
      color: red;
      border-bottom: 1px solid red;
    
      transition: 0.5s ease-in-out;
      
    }

  

}


